.MealDetailContainer{
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 3%;
    width: 70%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.MealImg{
    width: 300px;
    border-radius: 10px;
}

.MealDescription{
    width: 100%;
}

.MealDescription> p{
    text-align: left;
    margin:2% 0 0 0;
}

.MealDescription> h1{
    text-align: left;
    margin:0;
}


.mealInstruction{
    text-align: justify; 
}

.ChekoutButton{
    border: .5px solid gray;
    background-color:white;
    aspect-ratio: 10/1;
    padding: 1%;
    border-radius: 25px;
    cursor: pointer;
    margin: 2% 0 0 0;
}

.ChekoutButton:hover{
    background-color:gray;
    color:white;
}

